.header {
    background: #322E41;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav-logo {
    padding-top: 14px;
}

.header__nav-list {
    display: flex;
    align-items: center;
}

.header__nav-list-item-link {
    display: block;
    padding: 24px 15px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    border-bottom: 2px solid transparent;
    transition: .2s linear;
}
.header__nav-list-item-link:hover {
    color: #FFE600;
    border-bottom: 2px solid #fff;
}
@media screen and (max-width: 896px) {
    .header__nav {
        flex-direction: column;
    }
}
@media screen and (max-width: 724px) {
    .header__nav-list-item-link {
        padding: 18px 10px;
    }
}
@media screen and (max-width: 656px) {
    .header__nav-list {
        flex-wrap: wrap;
        justify-content: center;
    }
    .header__nav-list-item-link {
        padding: 10px 5px;
    }
}